<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script defer src="{% static 'js/register.js' %}"></script>

<main>
    <h1>Welcome to <span style="color: #ED553B;">Halo</span> </h1>
    <form onsubmit="sendMessage(); return false" method="post">
        <h3>Register</h3>
        {% csrf_token %}

        <div class="input-div">
            <div id="errormsg">
            
            </div>
            <input type="text" name="firstname" placeholder="Enter your Firtsname" id="FirstName">
            <input type="text" name="username" placeholder="Enter a username" id="UserName">
            <input type="password" name="password" placeholder="Enter a password" id="Password">
            <input type="email" name="email" placeholder="Enter your email" id="Email">
            <button type="submit">register</button>
        </div>
    </form>
</main>
