{% extends "base.html" %}
{% block content %}

<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<!-- <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></> -->

<script>
    async function sendMessage() {
    var dateObj = new Date();
    var month = dateObj.toLocaleString('en', { month: 'long' }); //months from 1-12
    var day = dateObj.getUTCDate();
    var year = dateObj.getUTCFullYear();
    newdate = month + " " + day + ", " + year;

    let fd = new FormData(); //FormDat object
    let token = '{{ csrf_token }}' //Token saved in a var
    fd.append('textmessage', message.value); //
    fd.append('csrfmiddlewaretoken', token);
    try {
        messageDiv.innerHTML += `
        <div class="profile-message-div color-gray" id="removeMessage">
                <div>  
                    <b>{{ request.user }}</b> <span class="color-gray margin-left">${ newdate }</span>
                </div>
                
                <div class="message-div">        
                    <i>${ message.value }</i>
                </div>
            </div>     `;
        await fetch('/chat/', {
            method: 'POST',
            body: fd
        })

        document.getElementById('removeMessage').remove();

        messageDiv.innerHTML += `
        <div class="profile-message-div">
                <div>  
                    <b>{{ request.user }}</b> <span class="color-gray margin-left">${ newdate }</span>
                </div>
                
                <div class="message-div">        
                    <i>${ message.value }</i>
                </div>
            </div>     `;
            message.value = '';

        console.log('success')
    } catch (e) {
        console.log('Not successfully', e)
    }
}
</script>



{% if request.user.is_authenticated %}
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="messages-div" id="messageDiv">
                {% for message in messages%}  
                <div class="profile-message-div">
                    <div>  
                        <b>{{ message.author }}</b> <span class="color-gray margin-left">{{ message.created_at }}</span>
                    </div>
                    
                    <div class="message-div">        
                        <i>{{ message.textmessage }}</i>
                    </div>
                </div>     
                {% endfor %}
            </div>
            
            <form onsubmit="sendMessage(); return false" method="post" class="form-input">
                {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" name="textmessage" type="text" id="message">
                    <label class="mdl-textfield__label">Text...</label>
                </div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Send
                </button>
            </form>
            {% else %}
            <h1>Du bist nicht eingeloggt</h1>
            <p>Bitte loge dich ein. Klicke hier <a href="/login" target="_blank">Login</a></p>
            
        </div>
    </main>
    {% endif %}
{% endblock %}
